<div class="body markdown-body">
  <div class="{{ innerClass }}">
    <div class="spinner">
      <img class="spinner__img" src="assets/images/loading.svg" alt="내용 불러오는 중">
    </div>

    <div class="body__align">
      <h1>대한민국 헌법</h1>
      <div>{{{ meta }}}</div>
      <Preamble content="{{ preamble }}"></Preamble>
      <Provision content="{{ provision }}"></Provision>
      <Addenda content="{{ addenda }}"></Addenda>
    </div>
  </div>
</div>

<script>
  import Preamble from './Preamble.html';
  import Provision from './Provision.html';
  import Addenda from './Addenda.html';

  export default {
    components: { Preamble, Provision, Addenda }
  };
</script>

<style>
  .body {
    font-family: 'Nanum Myeongjo';
    padding: 50px 20px;
  }

  .body__align {
    max-width: 960px;
    margin: 0 auto;
  }

  .body__inner--loading .spinner {
    display: block;
    text-align: center;
    margin: 200px 0;
  }

  .body__inner--loading .body__align {
    display: none;
  }

  .spinner {
    display: none;
    margin: 0 auto;
  }

  @media (min-width: 600px) {
    .body {
      margin-left: 200px;
    }
  }
</style>
