<div class="body__group markdown-body">
  <h1>대한민국 헌법</h1>
  <div>{{{ meta }}}</div>
  <Preamble content="{{ preamble }}"></Preamble>
  <Provision content="{{ provision }}"></Provision>
  <Addenda content="{{ addenda }}"></Addenda>
</div>

<script>
  import Preamble from './Preamble.html';
  import Provision from './Provision.html';
  import Addenda from './Addenda.html';

  export default {
    components: { Preamble, Provision, Addenda }
  };
</script>

<style>
  .body__group {
    font-family: 'Nanum Myeongjo';
    padding: 50px 20px;
    max-width: 960px;
    margin: 0 auto;
  }
</style>
